@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Martian+Mono:wght@100..800&display=swap");

:root {
  --secondary-font: "Martian mono", sans-serif;
  --primary-font: "Archivo", verdana;
  --white: 255, 255, 255;
  --black: 34, 34, 38;
  --grey: 102, 102, 102;
  --blue: 54, 75, 247;
  --letter-spacing: -0.04em; /* -4% van de font size */
  background: rgba(var(--white));
  font-family: var(--primary-font);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 12px;
  border: 1px solid black;
}

.subtext {
  font-family: Martian Mono;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

nav {
  display: flex;
  padding: 24px;
}

.navbar {
  display: flex;
  list-style-type: none;
  padding: 10px;
}

.navbar li {
  padding: 20px;

  a {
    text-decoration: none;
    display: flex;
    gap: 0.375rem;
    align-items: center;
    color: black;

    a:active {
      color: rgba(var(--blue));
    }

    span {
      background-color: rgba(var(--blue));
      color: rgba(var(--white));
      font-weight: 300;
      font-size: 0.75rem;
      padding: 0 0.25rem;
      height: fit-content;
      line-height: 1rem;
    }
  }

}

.nav-elements {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.word_lid {
  border: 1px solid black;

  svg {
    border-left: 1px solid black;
    margin: auto;
  }
}

h1 {
  text-align: center;
  font-size: 96px;
  letter-spacing: -0.04em;
  padding: 30px;
}

p {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

.pagetop {
  padding: 60px 0;
}

/* SUBTEXT HEADER LINK */
.ddalidlink {
  text-decoration: underline;
  color: black;
}

/*FILTERSYSTEEM*/
.search {
  border: none;
  border-bottom: 1px solid black;
  font-family: "Archivo", verdana;
  font-size: 18px;
}

.filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid black;
  padding: 40px;
}

.filter ul {
  list-style-type: none;
}

.filterlist {
  display: flex;

  @media (max-width: 800px) {
    display: inline-block;
  }
}

.filterlist svg{
  margin: auto;
}

.filterlist p{
  border-right: 1px solid black;
  padding: 18px 12px;
}

.filterlist a{
  display: flex;
  border: 1px solid black;
}

.filter-item {
  margin: 0px 1em;
}

.inloggen a{
  color: rgba(var(--blue));
}

/*CARDS*/
.row {
  width: 100%;
  border-width: 0px 1px;
  border: 1px solid black;
  border-width: 0px 1px 1px 1px;
  .column:nth-child(n+3) {
    border-right: 0;
  }
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33.3%;
  padding: 0 10px;
  border: 0.5px solid black;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.card {
  padding: 16px;
  text-align: left;
  height: 850px;
}

.cardlabel {
  display: flex;
}

.cardlabel p {
  margin: 4px;
  padding: 2px;
  border: 1px solid black;
}

.cardinfo p {
  margin: 20px 0px;
  text-align: left;
}

h3 {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.04em;
}

.details {
  text-decoration: none;
  color: blue;
}

.cardimage {
  width: 100%;
}

h2 {
  font-size: 64px;
  letter-spacing: -0.04em;
}

/*BEKIJK VACATURES*/
.vacatures {
  color: blue;
}

.betweencards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  border: 0.5px solid black;
}

/*MEER EVENTS LADEN*/
.loadevents {
  width: 100%;
  border: 1px solid black;
  padding: 50px 0px;
}

.loadevents p{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: blue;
}

/*PARTNERS*/
h4 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}

.partners {
  padding: 40px;
  border: 1px solid black;
}

@keyframes ticker-kf {
  0% {
    transform: translateX(0);
  }

  100% {
    /* 10rem for each logo x 6 logos total = -60rem */
    transform: translateX(-60rem);
  }
}

.img-ticker-container {
  overflow: hidden;
  width: 100%;
}

.img-ticker {
  display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
  animation: ticker-kf 10s linear infinite;
}

.tickerlogo {
  width: 8rem;
  flex: none;
  margin: 0 1rem 0 1rem;
  align-self: flex-start;
  max-width: 100%;
  height: auto;
}

.footertop {
  display: flex;
  border: 1px solid black;
}

.footertop ul {
  list-style-type: none;
  width: 25%;
  padding: 30px;
  border-left: 1px solid black;
}

.footertop li {
  text-decoration: none;
  padding: 10px 0px;
}

.footertop li a {
  text-decoration: underline;
  color: rgba(var(--black));
}

.footerimage {
  width: 50%;
  height: max-content;
}

.footerimage img {
  margin: 40px;
}

.footerheading {
  font-weight: 800;
}

.footerbottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.footerbottom ul{
  display: flex;
  list-style-type: none;
}

.footerbottom li{
  text-decoration: underline;
  padding-right: 10px;
}

.footerbottom li a {
  color: rgba(var(--black));
}